

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="../../manifest/test_demo_01/favicon.ico">
  <link rel="manifest" href="../../manifest/test_demo_01/manifest.json">
  <title>商店详情</title>
<link href="../../css/test_demo_01.3fe51d8b.css" rel="preload" as="style"><link href="../../js/chunk-vendors.ecd76ec1.js" rel="preload" as="script"><link href="../../js/test_demo_01.e83ec583.js" rel="preload" as="script"><link href="../../css/test_demo_01.3fe51d8b.css" rel="stylesheet"></head>

<body>
  <noscript>
    <strong>[object Object]</strong>
  </noscript>
  <div id="app">
    <div id="test_demo_01"></div>
  </div>
  <!-- 生成的文件将自动注入 -->
<script type="text/javascript" src="../../js/chunk-vendors.ecd76ec1.js"></script><script type="text/javascript" src="../../js/app.270524b7.js"></script><script type="text/javascript" src="../../js/test_demo_01.e83ec583.js"></script></body>

</html>
